@import "/src/index.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Roboto+Mono&display=swap");

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
}

.start h1 {
  font-size: 7em;
  font-family: "Afacad", sans-serif;
  color: var(--light);
  text-shadow: 3px 3px 0 #4074b5, 3px -3px 0 #4074b5, -3px 3px 0 #4074b5,
    -3px -3px 0 #4074b5, 3px 3px 0 #4074b5, 3px 3px 0 #4074b5,
    -3px 0px 0 #4074b5, 0px -3px 0 #4074b5;
  color: var(--light);
  margin: 0;
  margin-top: 0.5em;
  line-height: 0.5em;
}

.start h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  line-height: 2.2em;
}

.start .startlogo {
  max-width: 20em;
  max-height: 20em;
  border: 0.01em solid #ccc;
  border-radius: 0.5em;
  background-color: #5697d1;
  margin: 1.5em;
}

.start button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 1.875rem;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 0.0625rem solid transparent;
  letter-spacing: 0.125em;
  min-width: 10em;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 1.0625rem 3rem;
  color: #fff;
  background-color: var(--custom-color);
  height: 3rem;
}

.start button:hover {
  transform: scale(0.99);
  background-color: #21e065;
}

@media screen and (max-width: 768px) {
  .start .start h1 {
    font-size: 5em;
  }
  .start .start h3 {
    font-size: 1.5em;
  }
  .start .startlogo {
    max-width: 10em;
    max-height: 10em;
    margin: 1.5em;
  }
  .start button {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .start .start h1 {
    margin-top: 1em;
    font-size: 2em;
  }
  .start .start h3 {
    font-size: 1em;
  }
  .start .startlogo {
    max-width: 8em;
    max-height: 8em;
    margin: 1em;
  }
  .start button {
    font-size: 0.8em;
  }
}
