@import "/src/index.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--light);
  padding: 0.6em 1em;
}

.header a {
  color: var(--light);
  text-decoration: none;
}
.header a:link, .header a:visited {
  color: var(--light);
}

.headerLogo {
  font-size: 1.25em;
  font-weight: bold;
}

.header_title {
  font-size: 1.25em;
  font-weight: bold;
}

.headerLogo {
  min-width: 2em;
  min-height: 2em;
}

/* ----- dropdown -------*/
.dropdown .burger-menu{
  background-color: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  min-width: 10em;
  box-shadow: 0.0625em 0.5em 1em 0.0625em rgba(0,0,0,0.4);
  z-index: 1;
  right:0;
}

.dropdown-content a {
  color: var(--light);
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--main-color-darker);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile First Media Query */
@media only screen and (min-width: 37.5em) {
  .header {
    padding: 1em 2em;
  }

  .headerLogo {
    font-size: 1.75em;
  }

  .headerTitle {
    font-size: 1.5em;
  }
}
