@import "/src/index.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--light);
  padding: 0.6em 1em;
}

.headerLogo {
  font-size: 24px;
  font-weight: bold;
}

.header_title {
  font-size: 20px;
  font-weight: bold;
}

.headerLogo {
  min-width: 2em;
  min-height: 2em;
}

/* ----- dropdown -------*/
.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  right: 0;
  text-align: center;
  width: 80vw;
  padding: 1.5em;
  background-color: #f6f6f6;
}

.menu a {
  display: block;
  padding: 0.2em;
  color: var(--dark);
  padding: 1.5em;
}

.menu a:hover {
  background-color: var(--main-color);
  color: var(--light);
  right: 0;
}

/* Mobile First Media Query */
@media only screen and (min-width: 600px) {
  .header {
    padding: 1em 2em;
  }

  .headerLogo {
    font-size: 28px;
  }

  .headerTitle {
    font-size: 24px;
  }
}
