:root {
  --main-color: #52679b;
  --main-color-darker: #004b96;
  --secondary-color: #f8931d;
  --light: #ffe1e1;
  --dark: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: var(--light);
  /*temp rule: */
  height: 100vh;
}
