:root {
  --main-color: #52679b;
  --main-color-darker: #004b96;
  --secondary-color: #f8931d;
  --light: #fbf6b0;
  --dark: #000000;
  --custom-color: #fcc20d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-darker);
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
}
